.bandeau {
    background-image: linear-gradient(to bottom, #F1DE4C, #FFFFFF);
    font-size: xxx-large;
    font-weight: bold;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 1px 0px 0px 50px;

}

.back_square{
    background-color: #F7F7F7;
    align-items: center;
    border-radius: 4px; 
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    padding: 30px 0px 30px 0px;
    margin: 70px;
}

.inside_square {
    text-align: center;
    padding: 20px 0px 20px;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 1px solid rgb(218, 218, 218);
    font-size: larger;
}