.small_dog {
    display: block;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 330px;
    margin-bottom: auto;
    width: 30%;

    image-rendering: pixelated;
}

*{ 
    background-color: black;
}

.dog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#text_error {
    text-align: center;
    padding: 20px 0px 20px;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    color: white;
}