.whole_table {
    border-collapse: collapse;
    width: 100%;
}

.whole_table td {
    border: 2px solid black;
    padding: 10px 15px;
}

.whole_table input {
    width: 80%;
}

.whole_table button {
display: block;
margin: auto;
}
.whole_table a {
display: block;
margin: auto;
}

.tablehead{
    background-color : #2d9bce;
}

.creer_materiel {
    display: flex;
    justify-content: flex-end;
}
